<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>

    <title>PrimeFaces paradise</title>

    <h:outputScript name="js/nanoscroller.js" library="paradise-layout"/>
    <h:outputScript name="js/layout.js" library="paradise-layout"/>
    <h:outputScript name="js/swipe.js" library="paradise-layout"/>

    <ui:insert name="head"/>

</h:head>

<h:body styleClass="login-body">

    <h:form>

        <div class="login-panel ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 logo-container">
                    <p:graphicImage library="paradise-layout"
                                    name="images/logo-gray.png"/>
                    <p:graphicImage library="paradise-layout"
                                    name="images/icon-login.png"/>
                    <h2>Welcome to Paradise</h2>
                </div>
                <div class="ui-g-12">
                    <p:outputLabel value="Username" for="username"/>
                    <div class="input-wrapper">
                        <p:inputText id="username"/>
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="ui-g-12">
                    <p:outputLabel value="Password" for="password"/>
                    <div class="input-wrapper">
                        <p:password id="password"/>
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="ui-g-12 chkbox-container">
                    <div class="ui-g-6 ui-md-6">
                        <p:link href="#" value="Forgot password?"/>
                    </div>
                    <div class="ui-g-6 rememberme-container">
                        <p:selectBooleanCheckbox itemLabel="Rememeber Me"/>
                    </div>

                </div>
                <div class="ui-g-12 button-container">
                    <p:button value="Sign In"/>
                </div>
            </div>
        </div>

    </h:form>

    <h:outputStylesheet name="css/nanoscroller.css" library="paradise-layout"/>
    <h:outputStylesheet name="css/animate.css" library="paradise-layout"/>
    <h:outputStylesheet name="css/layout-blue.css" library="paradise-layout"/>

</h:body>

</html>