<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer clearfix">
        <p:graphicImage library="paradise-layout" name="logo-gray.png"/>

        <div class="layout-footer-right">
            <a href="https://github.com/primefaces"><i class="fa fa-github"></i></a>
            <a href="https://www.facebook.com/groups/primefaces"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/primefaces"><i class="fa fa-twitter"></i></a>
        </div>
    </div>

</html>