<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pu="http://primefaces.org/paradise">


<div class="layout-menu-wrapper">
    <div class="layout-menu-container">
        <h:form id="menuform">

            <pu:menu>

                <p:menuitem id="im_dashboard" value="Index" icon="dashboard" outcome="/index"/>

                <p:submenu id="im_default" label="Template Pages" icon="apps">
                    <p:menuitem id="im_login" value="Login Page" icon="audiotrack" outcome="/login"/>
                    <p:menuitem id="im_error" value="Error Page" icon="audiotrack" outcome="/error"/>
                    <p:menuitem id="im_404" value="404 Page" icon="audiotrack" outcome="/404"/>
                    <p:menuitem id="im_access" value="Access Denied Page" icon="audiotrack" outcome="/access"/>
                </p:submenu>

            </pu:menu>


        </h:form>
    </div>
</div>


</html>