<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
        </f:facet>

        <title>PrimeFaces Paradise</title>

        <h:outputScript name="js/nanoscroller.js" library="paradise-layout"/>
        <h:outputScript name="js/swipe.js" library="paradise-layout"/>
        <h:outputScript name="js/layout.js" library="paradise-layout"/>

        <ui:insert name="head"/>

    </h:head>

    <h:body>

        <div class="layout-wrapper menu-layout-static">

            <!-- Topbar -->
            <ui:include src="topbar.xhtml"/>

            <!-- Right Panel -->

            <div class="layout-main">

                <ui:include src="sidebar.xhtml"/>

                <div class="layout-content">
                    <ui:insert name="layout-content">
                        [ CONTENT ]
                    </ui:insert>
                </div>

                <ui:include src="footer.xhtml"/>

            </div>

        </div>

        <h:outputStylesheet name="css/nanoscroller.css" library="paradise-layout" />
        <h:outputStylesheet name="css/animate.css" library="paradise-layout" />
        <h:outputStylesheet name="css/layout-default.css" library="paradise-layout" />

    </h:body>

</html>