<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <div class="topbar">
        <p:link href="/" class="topbar-logo">
            <p:graphicImage library="paradise-layout"
                            name="images/logo-black.png"/>
        </p:link>

        <a href="#" id="menu-button">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#" id="user-display">
            <span class="username">Emma Davis</span>
            <p:graphicImage library="paradise-layout"
                            name="images/avatar.png"/>
            <i class="fa fa-angle-down"></i>
        </a>

        <label for="topbar-search">
            <i class="fa fa-search topbar-search-icon"></i>
        </label>

        <p:inputText id="topbar-search"
                     styleClass="topbar-search"
                     placeholder="Type your search here"/>

        <ul id="topbar-menu" class="fadeInDown animated">
            <li>
                <a href="#">
                    <i class="topbar-icon fa fa-fw fa-user"></i>
                    <span class="topbar-item-name">Profile</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-user-secret"></i>
                            <span>Privacy</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon fa fa-fw fa-cog"></i>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-paint-brush"></i>
                            <span>Change Theme</span>
                            <span class="topbar-badge">1</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-star-o"></i>
                            <span>Favorites</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-lock"></i>
                            <span>Lock Screen</span>
                            <span class="topbar-badge">3</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-picture-o"></i>
                            <span>Wallpaper</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon fa fa-fw fa-bell-o"></i>
                    <span class="topbar-item-name">Notifications</span>
                    <span class="topbar-badge animated rubberBand">2</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-tasks"></i>
                            <span>Pending tasks</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                            <span>Meeting today</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-download"></i>
                            <span>Download</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-plane"></i>
                            <span>Book flight</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</html>